# Dart/Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# gen-l10n 생성물
lib/l10n/app_localizations*.dart

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
